/* footer */
footer{
    background-color: #063255; 
    color: white; 
    margin-top: 50px; 
    padding: 50px; 
}

footer .row .col-4 a{
    display: block;
    background-color: #063255;
    color: white; 
    display: flex; 
}

footer h2{
    color: white; 
}
small {
    font-size: .7em
}